NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBVEzkcZ0CQnySrxHwW0sB0Kq0JyjhHxq8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=instituto-san-francisco.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=instituto-san-francisco
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=instituto-san-francisco.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=672249978650
NEXT_PUBLIC_FIREBASE_APP_ID=1:672249978650:web:7e19af1a23d27bdfbe16a3
NEXT_PUBLIC_API_URL=http://localhost:3001
